@using PMS.Common
@using PMS.Common.Immutable
@using PMS.Web.Controllers
@{
    Layout = "_Layout.cshtml";
    UserPrincipal principal = (UserPrincipal) User;
}
<div>
    <div class="body">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PMS", DashboardController.IndexAction, DashboardController.Name, new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (principal.PermittedActions.Contains(Actions.VIEW_PROJECT))
                        {
                            <li>@Html.ActionLink("Projects", ProjectController.IndexAction, ProjectController.Name)</li>
                        }
                        <li>@Html.ActionLink("Issues", IssueController.IndexAction, IssueController.Name)</li>
                        @if (principal.PermittedActions.Contains(Actions.VIEW_SPRINT))
                        {
                            <li>@Html.ActionLink("Sprints", SprintController.IndexAction, SprintController.Name)</li>
                        }
                        @if (principal.PermittedActions.Contains(Actions.VIEW_PRINCIPAL))
                        {
                            <li>@Html.ActionLink("Users", UserController.IndexAction, UserController.Name)</li>
                        }
                        @if (principal.PermittedActions.Contains(Actions.VIEW_ROLE))
                        {
                            <li>@Html.ActionLink("Roles", RoleController.IndexAction, RoleController.Name)</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Logout", AuthController.LogoutAction, AuthController.Name)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <br />
            <br />
            <br />
            <br />
            @RenderBody()


        </div>
    </div>
</div>
<br />
<footer class="footer">
    <div class="container text-center">
        <p>&copy; @DateTime.Now.Year - ADB</p>
    </div>
</footer>

@section Scripts{
    @RenderSection("Scripts", false)
}