@model SprintListModel

@using PMS.Common
@using PMS.Common.Immutable
@using PMS.Web.Controllers
@using PMS.Web.HtmlHelpers

@{
    ViewBag.Title = @Html.Text("Sprints");
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
    UserPrincipal principal = (UserPrincipal)User;
}
<div class="container">
    <h2>@Html.Text("Sprints")</h2>
    @if (principal.PermittedActions.Contains(Actions.CREATE_SPRINT))
    {
        <p>
            @Html.ActionLink(@Html.Text("Create new"), "Create", null, new { @class = "btn btn-default" })
        </p>
    }
    @if (!Model.Items.Any())
    {
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.Text("Project name")
                </th>
                <th>
                    @Html.Text("Version")
                </th>
                <th>
                    @Html.Text("Start date")
                </th>
                <th>
                    @Html.Text("End date")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectVersion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @if (item.AllowEdit && principal.PermittedActions.Contains(Actions.SAVE_SPRINT))
                        {
                            @Html.ActionLink(@Html.Text("Edit"), "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-warning" })
                        }
                    </td>
                </tr>
            }

        </table>
    }
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(SprintController.IndexAction, SprintController.Name, new { page = x }))

</div>
