@model CreateUserModel

@using MvcCheckBoxList.Model
@using PMS.Common
@using PMS.Common.Immutable
@using PMS.Web.Controllers
@using PMS.Web.HtmlHelpers

@{
    ViewBag.Title = @Html.Text("Users");
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<h2>@Html.Text("Create user")</h2>
@using (Html.BeginForm("Save","User"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.Text("New user")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PasswordConfirmation, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.PasswordConfirmation, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Html.Text("Available roles")</label>
            <div class="col-md-5">
                @Html.CheckBoxListFor(x => x.SelectedRolesIds, x => x.AvailableRoles, x => x.Id, x => x.Value, x => x.SelectedRoles, Position.Vertical)
            </div>
            @Html.ValidationMessageFor(x => x.SelectedRoles)
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Html.Text("Available projects")</label>
            <div class="col-md-5">
                @Html.CheckBoxListFor(x => x.SelectedProjectsIds, x => x.AvailableProjects, x => x.Id, x => x.Value, x => x.SelectedProjects, Position.Vertical)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Html.Text("Save")" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="col-md-offset-2">
    @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-info"})
</div>
