@model ProjectListModel

@using PMS.Common
@using PMS.Common.Immutable
@using PMS.Web.Controllers
@using PMS.Web.HtmlHelpers

@{
    ViewBag.Title = @Html.Text("Projects");
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
    UserPrincipal principal = (UserPrincipal)User;
}
<div class="container">
    <h2>@Html.Text("Projects")</h2>
    @if (principal.PermittedActions.Contains(Actions.CREATE_PROJECT))
    {
        <p>
            @Html.ActionLink(@Html.Text("Create new"), "Create", null, new { @class = "btn btn-default" })
        </p>
    }
    @if (!Model.Items.Any())
    {
        <h5>@Html.Text("No items found")</h5>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.Text("Name")
                </th>
                <th>
                    @Html.Text("Short name")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.AllowEdit && principal.PermittedActions.Contains(Actions.SAVE_PROJECT))
                        {
                            @Html.ActionLink(@Html.Text("Edit"), "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-warning" })
                        }
                    </td>
                </tr>
            }

        </table>
    }
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(ProjectController.IndexAction, ProjectController.Name, new { page = x }))

</div>
